<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="">
		<clear/>
		<add key="ApiClient.ClientId" value="9nr1r7DP5LhfMaqGU2YcA4AZdBDrALGu" />
		<add key="ApiClient.ClientSecret" value="4vudvTftq9Dj2aEm" />
		<add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth" />
		<add key="ApiClient.AccessToken" value="Aw1anqcA8UWm6Nl7XebmGKCGQGb0" />
		<add key="ApiClient.RefreshToken" value="QLRd6gwYXg6gprPARGLt7NrLWDIkdSvb" />
		<add key="ApiClient.ExpirationDateTime" value="2022-12-27T11:37:19.2326293+00:00" />
		<add key="ApiClient.BaseAddress" value="https://api.digikey.com" />
	</appSettings>
</configuration>